/***********************************************************************************
 Banner start
***********************************************************************************/

@media (max-width: 991px) {

    .main_menu {
        padding: 10px 0;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .banner_content h1 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .gallery_img img {
        width: 425px;
        height: 390px;
    }

    .banner_content {
        padding-top: 100px;
    }
}
